.icon {
  font-size: 25px;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

th,
td {
  text-align: center;
}

.edit-icon {
  color: rgba(0, 0, 255, 0.5);
}

.delete-icon {
  color: rgba(255, 0, 0, 0.5);
}
