* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;

  background-image: linear-gradient(
      to right bottom,
      rgba(77, 77, 77, 0.5),
      rgba(179, 179, 179, 0.5)
    ),
    url("../public/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrap-container {
  width: 80%;
  border: 5px solid rgba(255, 255, 255, 0.2);
  height: auto;
  border-radius: 10px;
  padding: 3rem;
  margin-top: 3rem;
}
